!!!5

%html
  %head
    %title Together dummy app
    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield(:head)
  %body
    = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag "application", "data-turbolinks-track" => true